html {
    overflow-y: scroll;
}

.alert {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid tomato;
    color: tomato;
}

/*.form-outline .form-control:focus ~ .form-label {*/
/*    transform: translateY(-1rem) translateY(0.1rem) scale(.8);*/
/*}*/