AddDefaultCharset utf-8
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f [or]
RewriteCond %{REQUEST_URI} !\.(js|css|jpe?g|gif|png|bmp|ico)$ [NC]
RewriteRule ^(.*)$ index.php?$1 [L,QSA]